<section class="tab scrollable {{tabs.adventure.id}} {{tabs.adventure.cssClass}}" data-group="{{tabs.adventure.group}}" data-tab="{{tabs.adventure.id}}">
    <h2><label class="resource-label flexlarge" for="system.story.adventure">{{localize "interstitial.label.character_sheet.adventure"}}</label></h2>
    {{editor system.story.adventure target="system.story.adventure" owner=owner editable=editable engine="prosemirror"}}
</section>   