<section class="tab scrollable {{tabs.adventure.id}} {{tabs.adventure.cssClass}}" data-group="{{tabs.adventure.group}}" data-tab="{{tabs.adventure.id}}">
    <h2><label class="resource-label flexlarge" for="system.story.adventure">{{localize "interstitial.label.character_sheet.adventure"}}</label></h2>
    {{#if editable}}
        <prose-mirror name="system.story.adventure" button="true" editable="{{editable}}" toggled="false" value="{{document.system.story.adventure}}">
            {{{adventureHTML}}}
        </prose-mirror>
    {{else}}
        {{{adventureHTML}}}
    {{/if}}
</section>   