<section class="interstitial chat-roll" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
  <div class="cell cell--chat">
    <div class="chat-title row flexrow">
      <img class="item-icon" src="{{move.image}}" alt="{{move.name}}"/>
      <h2 class="title">{{move.name}}</h2>
    </div>

    <div class="card-content">
      {{#if move.system.prompt}}<div class="row move-prompt">{{{move.system.prompt}}}</div>{{/if}}
    </div>

    {{#if dice}}
    {{!-- Roll results, color coded to match the result type label. --}}
    <div class="dice-roll">
      {{#if stat}}
        <div class="row">{{concat (localize "interstitial.chat.rolling_with" arg=(localize (concat "interstitial.stat." stat)))}}</div>
      {{/if}}
      {{#if roll_data.roll_modifier}}
        <div class="row">{{concat (localize "interstitial.chat.rolling_with" arg=(localize (concat "interstitial.roll_modifier." roll_data.roll_modifier)))}}</div>
      {{/if}}
      {{#if flavor}}
      <div class="dice-flavor">{{flavor}}</div>
      {{/if}}
      <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{total}}</h4>
      </div>
    </div>
    {{/if}}

    <div class="card-content">
      {{#if move.system.details}}<div class="row move-details">{{{move.system.details}}}</div>{{/if}}
    </div>

  </div>
</section>